body,html
{
    padding: 0;
    margin: 0;
    background-image: url("images/a.jpeg");
    background-size: cover;
}
header
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-image: url("images/logo.png");
    background-position:left;
    background-repeat: no-repeat;
    background-size:120px;
    background-color: cornsilk;
    overflow: hidden;
}
h1{
    position: absolute;
    padding: 3px;
    float: right;
    margin-left: 40%;
    margin-top: 20px;
    font-family: 'Alfa Slab one','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(214, 30, 30);
}
 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: cadetblue;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 50px;
    text-decoration: none;
    

  }
  
  /* Active/current link 
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }*/
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.kick) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    #seeds
    {
        background-image: url("images/pic.jpeg");
        background-color: lawngreen;
    }

  } 